body {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0 auto;
}

.wrapper {
	width: 30%;
	margin: 0 auto;
	min-height: 99vh;
	flex-direction: column;
	display: flex;
	justify-content: center;
}
