@use "formula";

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0 auto;
	min-height: 99vh;
}

.wrapper {
	width: 30%;
	margin: 0 auto;
	min-height: 99vh;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.wrapper-main {
	max-width: 100%;
	min-height: 99vh;
	justify-content: center;
}
